.DS_Store
node_modules
.sass-cache
/logs

/dist

.vimsessions

# Composer
/app/vendor/*
/app/Vendor/*

# CakePHP 3
/app/config/app.php
/app/tmp/cache/models/*
!/app/tmp/cache/models/empty
/app/tmp/cache/persistent/*
!/app/tmp/cache/persistent/empty
/app/tmp/cache/views/*
!/app/tmp/cache/views/empty
/app/tmp/sessions/*
!/app/tmp/sessions/empty
/app/tmp/tests/*
!/app/tmp/tests/empty
/app/logs/*
!/app/logs/empty

# CakePHP 2
/app/tmp/*
/app/Config/core.php
/app/Config/database.php
